/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

.prism-theme code[class*="language-"],
.prism-theme pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.prism-theme pre[class*="language-"]::-moz-selection,
.prism-theme pre[class*="language-"] ::-moz-selection,
.prism-theme code[class*="language-"]::-moz-selection,
.prism-theme code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

.prism-theme pre[class*="language-"]::selection,
.prism-theme pre[class*="language-"] ::selection,
.prism-theme code[class*="language-"]::selection,
.prism-theme code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	.prism-theme code[class*="language-"],
	.prism-theme pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
.prism-theme pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

.prism-theme :not(pre) > code[class*="language-"],
.prism-theme pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
.prism-theme :not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.prism-theme .token.comment,
.prism-theme .token.prolog,
.prism-theme .token.doctype,
.prism-theme .token.cdata {
	color: slategray;
}

.prism-theme .token.punctuation {
	color: #999;
}

.prism-theme .namespace {
	opacity: .7;
}

.prism-theme .token.property,
.prism-theme .token.tag,
.prism-theme .token.boolean,
.prism-theme .token.number,
.prism-theme .token.constant,
.prism-theme .token.symbol {
	color: #905;
}

.prism-theme .token.selector,
.prism-theme .token.attr-name,
.prism-theme .token.string,
.prism-theme .token.builtin {
	color: #690;
}

.prism-theme .token.operator,
.prism-theme .token.entity,
.prism-theme .token.url,
.prism-theme .language-css .token.string,
.prism-theme .style .token.string,
.prism-theme .token.variable {
	color: #a67f59;
	background: hsla(0,0%,100%,.5);
}

.prism-theme .token.atrule,
.prism-theme .token.attr-value,
.prism-theme .token.keyword {
	color: #07a;
}


.prism-theme .token.regex,
.prism-theme .token.important {
	color: #e90;
}

.prism-theme .token.important {
	font-weight: bold;
}

.prism-theme .token.entity {
	cursor: help;
}

